@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="~/Content/Home.css" rel="stylesheet" />
}


@*<div id="particles-js"></div>*@

<body id="home">
    <div id="accountButtonContainer">
        <img id="house" class="svg" src="~/Content/house.svg" />

        <div><h1 id="homeTitle">Plan On It.</h1></div>

        <button class="accountHomeBtn" id="loginBtn">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
        <button class="accountHomeBtn" id="registerBtn">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
    </div>

</body>

