@{
    ViewBag.Title = "Home Page";
}
@section styles{
    <link href="~/Content/Home.css" rel="stylesheet" />
}


@*<div id="particles-js"></div>*@

<body id="home">
    <div id="accountButtonContainer">
        <img id="house" class="svg" src="~/Content/house.svg" />

        <div><h1 id="homeTitle">Plan Floor It</h1></div>
        @if (!User.Identity.IsAuthenticated)
        {
            <button class="accountHomeBtn" id="loginBtn" onclick="location.href='@Url.Action("Login", "Account")'">Log In</button>
            <button class="accountHomeBtn" id="registerBtn" onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
        }
        
        
    </div>

</body>

