body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
    margin: 0;
}

main {
    height: 100%;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #000000;
    padding-bottom: 0.5em;
}

nav img {
    width: 3%;
    height: 3%;
}

#navLink-Register {

}

#logoutForm, #logoff, #navLink-Login {
    order: 2;
    margin: 10px 20px;
}

#navLink-Register, #name-button {
    margin: 10px 0;

}

#name-button {
    padding: -5px ;
}

#dashboard {
    display: none;
    padding: unset;
}


.navbarBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    border-style: none;
    border-radius: 5px;
    grid-column: 2/ span 1;
    
}

    .navbarBtn:hover, input:hover {
        background-color: #FFF;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

a{
    text-decoration: none;
    color: black;
}


/* HOME PAGE */

body#home {
    background-image: url('GRADIENT-LOGO-1-REVERSE.png');
    background-color: #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img#house.svg {
    display: none;
    margin: auto;
    width: 200px;
}

h1#homeTitle {
    margin-bottom: 15vh;
    margin-top: 10vh;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
}

button.accountHomeButton {
    font-family: sans-serif;
    font-weight: bolder;
}

button#loginBtn.accountHomeBtn {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    border-style: none;
}

button#registerBtn.accountHomeBtn {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    border-style: none;
}


/* LOGIN */

body#login {
    background-image: url('GRADIENT-LOGO-1.png');
    background-color: #FFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img#trees.svg {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

.accountFormContainer {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
}

h1.accountFormTitle {
    display: inline-block;
    font-size: 3rem;
    background-color: #000;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
}

#login input {
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

div.remember {
    display: inline-block;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}

input#RememberMe {
    background-color: #000;
    box-shadow: none;
}

.rememberMeText {
    color: white;
    font-weight: 600;
    margin: 10px 0;
}

#login input.navbarBtn.accountformbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0;
}

/* REGISTER */

body#register {
    background-image: url('GRADIENT-LOGO-4.png');
    background-color: #FFF;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-weight: 600;
}

img#paint.svg {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

#register input {
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

#register input.navbarBtn.accountformbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0;
}

.text-danger li {
    color: #000;
    text-align: left;
    font-size: 1.5rem;
    list-style: symbols(*);
}

/*NEW PROJECT*/

#newProject {
    background: linear-gradient(#FFFA00, #5AFF15, #00FF7B);
    background-image: url('HOUSE-LOGO-LINES.png'), linear-gradient(#FFFA00, #5AFF15, #00FF7B);
    background-repeat: no-repeat;
    font-weight: 600;
    background-attachment: fixed;
    height: 100%;
}

img#hills.svg {
    position: absolute;
    display: none;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

div.form-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'name name-2' 'floors floors-2' 'budget budget-2' 'foundation foundation-2' 'build build';
    background-color: rgba(0, 0, 0, 0.60);
    color: white;
    position: relative;
    border-radius: 10px;
    padding: 20px;
    z-index: 2;
}

.l {

    display: inline-block;
}

#l-name {
    grid-area: name;
    display: inline-block;
}

#l-name-2 {
    grid-area: name-2;
    display: inline-block;
}

#l-floors {
    grid-area: floors;
    display: inline-block;
}

#l-floors-2 {
    grid-area: floors-2;
    display: inline-block;
}

#l-budget {
    grid-area: budget;
    display: inline-block;
}

#l-budget-2 {
    grid-area: budget-2;
    display: inline-block;
}

#l-foundation {
    grid-area: foundation;
    display: inline-block;

}

#l-foundation-2 {
    grid-area: foundation-2;
    display: inline-block;
}

input#Width {
    width: 60px;
}

input#Length {
    width: 60px;
}

#l-build {
    grid-area: build;
}

#newProjectForm {
    position: absolute;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

#newProject input {
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

h1#new-project {
    font-size: 3rem;
    text-align: center;
    padding: 10px 20px;
    border-style: none;
    font-family: sans-serif;
}

select {
    width: 40px;
    text-align: center;
    font-size: 1rem;
    color: #FFF;
    font-weight: 600;
    background-color: #000;
    padding-left: 15px;
    border-radius: 5px;
    border-style: none;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

div.form-container::before {
    filter: blur(10px);
    content: '';
}

#newProject input[type="text"] {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    cursor: text;
}

input#HasBasement {
    box-shadow: none;
}

#newProject input.navbarBtn.accountformbtn {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    border-style: none;
    width: 26%;
    margin-left: 37%;
    margin-right: 37%
}

.accountFormControl {
    margin: 10px 0;
    
}

.accountformbtn{
    text-align: center;
}

.accountFormTextBox{
    border:2px solid #618aea;
}

/* DASHBOARD */

#dashboardSection {
    background-image: url('HOUSE-LOGO-WHITE-LINES.png'), linear-gradient(#FBBAFF, #EF73E9, #763C89);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

img#plan.svg {
    display: none;
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

.userProject {
	background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 5px;
    border-radius: 10px;
	width: 150px;
	display: inline-block;
    height: 180px;
    position: relative;
}

    .userProject {
        font-size: 1.2rem;
    }
.dashboardButton {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

#dashboardSection input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
}

#dashboardSection input.navbarBtn.accountformbtn {
    font-size: 3rem;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}


div.plannedHouses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    width: 600px;
    justify-content: center;
    overflow: scroll;
}

    div.plannedHouses::-webkit-scrollbar {
        display: none;
    }

.userDashboard {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* CANVAS */

div.build-view {
    display: flex;
    flex-direction: column;
}

project-canvas {
    height: 10%;
}

.build-container {
    background-image: url('HOUSE-LOGO-LINES.png');
    background-size: 20%;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: bottom left;
    height: 100%;
}

.canvas-container {
    margin: 20px auto;
    background-image: url('GRASS-2.png');
    border: 20px solid black;
    box-shadow: inset 0 0 10px #000;
    height: 100vh;
}

.build-container img#legend {
    z-index: 1;
    background-image: url("GRASS-2.png");
    padding: 20px;
    margin-left: 75vw;
    margin-top: 5vh;
    border: 20px solid black;
    box-shadow: inset 0 0 10px #000;
    margin-bottom: 5vh;
}

div.room-container {
    height: 100%;
}

/* NAV */

.nav {
    height: 5%;
}

#logoff {
    margin-top: 5px;
    
    display: inline-block;
   
}

.userDashboard{
    font-size: 40px;
    color: black;
}
.homePage {
    grid-column: 4 / span 1;
    grid-row: 1;
    margin-top: 5px;
}



#bottomMenu{
    height: 30%;
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

build-menu{
    grid-column: 1;
    border-right: 2px solid lightgray;
    height: 100%;
}

room-menu{
    grid-column: 2;
    height: 100%;
    box-sizing: border-box;
}

#logoutForm{
    grid-column: 6 / span 1;
    margin-top: 0.5em;
}

cost-menu {
    border: 10px solid black;
    grid-column: 3;
    color: black;
    font-family: sans-serif;
    height: 100%;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #eb78b3;
    box-shadow: inset 0 0 10px #000;
}

input[type='number'] {
    -moz-appearance: textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
