body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    display: grid;
    background-color: #000000;
    grid-template-columns: auto 5% 5% 5%;
}

#navLink-Register {
    grid-column: 3;
    grid-row: 1;
}

#navLink-Login {
    grid-column: 2;
}

.navbarBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin: 0 auto;
}

    .navbarBtn:hover, input:hover {
        background-color: #FFF;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

a{
    text-decoration: none;
    color: black;
}


/* HOME PAGE */

body.home {
    background: linear-gradient(#8AF3FF, #18A999, #39222E);
}

img#house.svg {
    display: block;
    margin: auto;
    width: 200px;
}

h1#homeTitle {
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
    box-shadow: inset 0 0 10px #000;
}

button.accountHomeButton {
    font-family: sans-serif;
    font-weight: bolder;
}

button#loginBtn.accountHomeBtn {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    border-style: none;
}

button#registerBtn.accountHomeBtn {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    border-style: none;
}


/* LOGIN */

body#login {
    background: linear-gradient(#8AF3FF, #18A999, #95C623);
}

.accountFormContainer {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
}

h1.accountFormTitle {
    font-size: 3rem;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
    box-shadow: inset 0 0 10px #000;
}

#login input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

input#RememberMe {
    box-shadow: none;
}

.rememberMeText {
    color: white;
    margin: 10px 0;
}

#login input.navbarBtn.accountformbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0;
}

/* REGISTER */

body#register {
    background: linear-gradient(#8AF3FF, #18A999, #CF098D);
}

#register input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

#register input.navbarBtn.accountformbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0;
}

/*NEW PROJECT*/

#newProject {
    background: linear-gradient(#FFFA00, #5AFF15, #00FF7B);
    height: 100vh;
}

#newProjectForm {
    position: absolute;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}

#newProject .form-container label {
    margin-top: 100px;
}

h1#new-project {
    font-size: 3rem;
    text-align: center;
    padding: 10px 20px;
    border-style: none;
    font-family: sans-serif;
}

div.form-container {
    background-color: rgba(255, 255, 255, 0.30);
    position: relative;
    border-radius: 10px;
    padding: 20px;
}

#newProject input[type="text"] {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    cursor: text;
}

input#HasBasement {
    box-shadow: none;
}

#newProject input.navbarBtn.accountformbtn {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    border-style: none;
    width: 26%;
    margin-left: 37%;
    margin-right: 37%
}

.accountFormControl {
    margin: 10px 0;
    
}

.accountformbtn{
    text-align: center;
}

.accountFormTextBox{
    border:2px solid #618aea;
}







.text-danger li{
    color: red;
    font-size:1.5rem;
    list-style: none;
    display: block;
}

.userProject {
	background-color: lightblue;
	border: solid black;
	padding: 10px;
	width: 10vw;
	display: inline-block;
}
.dashboardButton{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.userDashboard {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#dashboardSection {
    background-image: url('houseplan.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;
}

#logoff {
    margin-top: 5px;
   
}

.userDashboard{
    font-size: 40px;
    color: black;
}
.homePage {
    grid-column: 3;
    grid-row: 2;
    margin-top: 20px;
}

.canvas-container {
	margin: auto;
	background-image: url('grass.png');
}

#bottomMenu{
    display: grid;
    grid-template-columns: 65% 35%;
}

build-menu{
    grid-column: 1;
}

room-menu{
    grid-column: 2;
}