body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
    margin: 0;
}

main {
    height: 100%;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

nav {
    display: grid;
    background-color: #000000;
    grid-template-columns: 5% 8% 3% 5% auto 5% 5%;
    padding-bottom: 0.5em;
}

#navLink-Register {
    grid-column: 3;
    grid-row: 1;
}

#navLink-Login {
    grid-column: 2;
}

.navbarBtn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border-radius: 4px;
    margin-top: 0.5em;
    grid-column: 2/ span 1;
    
}

    .navbarBtn:hover, input:hover {
        background-color: #FFF;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

a{
    text-decoration: none;
    color: black;
}


/* HOME PAGE */

body#home {
    background: linear-gradient(#8AF3FF, #18A999, #39222E);
    background-attachment: fixed;
}

img#house.svg {
    display: block;
    margin: auto;
    width: 200px;
}

h1#homeTitle {
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
    box-shadow: inset 0 0 10px #000;
}

button.accountHomeButton {
    font-family: sans-serif;
    font-weight: bolder;
}

button#loginBtn.accountHomeBtn {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    border-style: none;
}

button#registerBtn.accountHomeBtn {
    padding: 5px;
    font-family: sans-serif;
    font-weight: bolder;
    border-style: none;
}


/* LOGIN */

body#login {
    background: linear-gradient(#8AF3FF, #18A999, #95C623);
    background-attachment: fixed;
}

img#trees.svg {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

.accountFormContainer {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
}

h1.accountFormTitle {
    display: inline-block;
    font-size: 3rem;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    font-family: sans-serif;
    box-shadow: inset 0 0 10px #000;
}

#login input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

input#RememberMe {
    box-shadow: none;
}

.rememberMeText {
    color: white;
    margin: 10px 0;
}

#login input.navbarBtn.accountformbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0;
}

/* REGISTER */

body#register {
    background: linear-gradient(#8AF3FF, #18A999, #CF098D);
    background-attachment: fixed;
}

img#paint.svg {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

#register input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
}

#register input.navbarBtn.accountformbtn {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    margin: 10px 0;
}

.text-danger li {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    list-style: symbols(*);
}

/*NEW PROJECT*/

#newProject {
    background: linear-gradient(#FFFA00, #5AFF15, #00FF7B);
    background-attachment: fixed;
    height: 100%;
}

img#hills.svg {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

#newProjectForm {
    position: absolute;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
}

#newProject .form-container label {
    margin-top: 100px;
}

h1#new-project {
    font-size: 3rem;
    text-align: center;
    padding: 10px 20px;
    border-style: none;
    font-family: sans-serif;
}

div.form-container {
    background-color: rgba(255, 255, 255, 0.30);
    position: relative;
    border-radius: 10px;
    padding: 20px;
}

#newProject input[type="text"] {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    box-shadow: none;
    cursor: text;
}

input#HasBasement {
    box-shadow: none;
}

#newProject input.navbarBtn.accountformbtn {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px;
    border-style: none;
    width: 26%;
    margin-left: 37%;
    margin-right: 37%
}

.accountFormControl {
    margin: 10px 0;
    
}

.accountformbtn{
    text-align: center;
}

.accountFormTextBox{
    border:2px solid #618aea;
}

/* DASHBOARD */

#dashboardSection {
    /*background-image: url('houseplan.jpg');
    
    background-repeat: no-repeat;
    background-position: center center;
    height: 95vh;*/
    background: linear-gradient(#FBBAFF, #EF73E9, #763C89);
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

img#plan.svg {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 32vw;
}

.userProject {
	background-color: rgba(255, 255, 255, 0.3);
    margin: 10px 5px;
    border-radius: 10px;
	width: 150px;
	display: inline-block;
    height: 180px;

}
.dashboardButton{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#dashboardSection input {
    font-size: 1rem;
    padding: 5px;
    border-radius: 10px;
    border-style: none;
}

#dashboardSection input.navbarBtn.accountformbtn {
    font-size: 3rem;
    font-weight: 600;
    padding: 10px;
    margin: 10px;
}


div.plannedHouses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 80vh;
    justify-content: center;
    overflow: scroll;
}

    div.plannedHouses::-webkit-scrollbar {
        display: none;
    }

.userDashboard {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


#logoff {
    margin-top: 5px;
    display: inline-block;
   
}

.userDashboard{
    font-size: 40px;
    color: black;
}
.homePage {
    grid-column: 4 / span 1;
    grid-row: 1;
    margin-top: 5px;
}

.canvas-container {
	margin: auto;
	background-image: url('grass.png');
}

#bottomMenu{
    display: grid;
    grid-template-columns: 65% 35%;
}

project-canvas {
    
}

build-menu{
    /*grid-column: 1;
    border-right: 2px solid lightgray;
    height: 27vh;*/
}

room-menu{
    grid-column: 2;
    height: 27vh;
}

#logoutForm{
    grid-column: 6 / span 1;
    margin-top: 0.5em;
}